<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Todo.txt"
            id="todo.txt-eclipse">
      </category>
      <view
            name="Todo.txt"
            icon="icons/todotxt_icon.png"
            category="todo.txt-eclipse"
            class="todo.txteclipse.views.TodotxtView"
            id="todo.txteclipse.views.TodotxtView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="todo.txteclipse.views.TodotxtView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
